<cite>Darryl Oatridge, August 2022<cite>

In [1]:
import os

In [2]:
os.environ['HADRON_PM_PATH'] = '../0_hello_meta/demo/contracts'
os.environ['HADRON_DEFAULT_PATH'] = '../0_hello_meta/demo/data'

In [3]:
from ds_discovery import Transition

In [4]:
# get the instance
tr = Transition.from_env('hello_tr')

In [5]:
tr.report_connectors()

In [6]:
df = tr.load_source_canonical()
tr.canonical_report(df)

In [7]:
# returns obfusacted nulls
df = tr.tools.auto_reinstate_nulls(df, nulls_list=['?'])
# removes data columns of no interest
df = tr.tools.to_remove(df, headers=['name'])

In [8]:
tr.report_intent()

In [9]:
tr.run_component_pipeline()
tr.canonical_report(tr.load_persist_canonical())