<cite>Darryl Oatridge, August 2022<cite>

In [1]:
import os

In [2]:
os.environ['HADRON_PM_PATH'] = '../0_hello_meta/demo/contracts'
os.environ['HADRON_DEFAULT_PATH'] = '../0_hello_meta/demo/data'

In [3]:
from ds_discovery import Transition

In [4]:
# get the instance
tr = Transition.from_env('hello_tr')

In [5]:
tr.report_intent()

In [7]:
df = tr.load_persist_canonical()

In [8]:
df = tr.tools.auto_reinstate_nulls(df, nulls_list=['?'], intent_order=2)
df = tr.tools.to_remove(df, headers=['name', 'boat', 'body', 'home.dest'], intent_order=1)
df = tr.tools.auto_to_category(df, unique_max=20, intent_order=3)
df = tr.tools.to_int_type(df, headers=['sibsp', 'parch', 'pclass', 'survived'], intent_order=4)
df = tr.tools.to_numeric_type(df, headers=['age', 'fare'], intent_order=5)

In [9]:
tr.report_intent()

In [ ]:
tr.run_component_pipeline()