<cite>Darryl Oatridge, August 2022<cite>

In [89]:
import os

In [90]:
os.environ['HADRON_PM_PATH'] = '../0_hello_meta/demo/contracts'
os.environ['HADRON_DEFAULT_PATH'] = '../0_hello_meta/demo/data'

In [91]:
from ds_discovery import Transition

In [93]:
# get the instance
tr = Transition.from_env('hello_tr')

In [94]:
tr.report_intent()

In [95]:
tr.remove_intent()dd

True

In [96]:
tr.report_intent()

In [74]:
df = tr.load_source_canonical()

In [75]:
df = tr.tools.auto_reinstate_nulls(df, nulls_list=['?'], intent_level='reinstate')
df = tr.tools.to_remove(df, headers=['name', 'boat', 'body', 'home.dest'], intent_level='remove')
df = tr.tools.auto_to_category(df, unique_max=20, intent_level='auto_category')
df = tr.tools.to_int_type(df, headers=['sibsp', 'parch', 'survived'], intent_level='to_dtype')
df = tr.tools.to_numeric_type(df, headers=['age', 'fare'], intent_level='to_dtype')
df = tr.tools.to_str_type(df, headers=['cabin', 'ticket'],use_string_type=True , intent_level='to_dtype')

In [76]:
tr.add_column_description('reinstate', description="reinstate nulls that where obfuscated with '?'")
tr.add_column_description('remove', description="remove column of no value")
tr.add_column_description('auto_category', description="auto fit features to categories where their uniqueness is 20 or less")
tr.add_column_description('to_dtype', description="ensure all other columns of interest are appropriately typed")

In [77]:
tr.report_intent()

In [78]:
tr.report_column_catalog()

## Component Pipeline

```
tr.run_component_pipeline(
    intent_levels: '[str, int, list]' = None,
    run_book: 'str' = None,
)
```

In [79]:
tr.run_component_pipeline()

In [80]:
tr.run_component_pipeline(intent_levels=['remove', 'reinstate', 'auto_category', 'to_dtype'])

## Run Books

In [81]:
tr.remove_run_book()

True

In [82]:
tr.add_run_book(run_levels=['remove', 'reinstate', 'auto_category', 'to_dtype'])

In [83]:
tr.add_run_book(book_name='cleaner', run_levels=['remove', 'reinstate'])

In [84]:
tr.report_run_book()

In [85]:
tr.run_component_pipeline(run_book='cleaner')

In [86]:
tr.canonical_report(tr.load_persist_canonical())

In [87]:
tr.run_component_pipeline()

In [88]:
tr.canonical_report(tr.load_persist_canonical())