<cite>Darryl Oatridge, August 2022<cite>

In [11]:
from ds_discovery import Transition

As before one again create a new instance of our Transition component, set its source and persist and then run the task pipeline.

In [12]:
tr = Transition.from_env('hello_tr', has_contract=False)

In [13]:
tr.set_source_uri('https://www.openml.org/data/get_csv/16826755/phpMYEkMl.csv')
tr.set_persist()

In [14]:
tr.run_component_pipeline()

One can now use some of the common features across components that gives a better view of the data output.  Taking our instance one simpily loads the persisted cononical. The component already knows what to get and where to get it and returns us our cononical. One can now use one of our reporting tools to pass in the cononical which returns a visualisation report.

In [15]:
df = tr.load_persist_canonical()

In [16]:
tr.canonical_report(df)

Though useful for visualisation one also has the ability to save this report to a given location to share with others.

In [17]:
dictionary = tr.canonical_report(df, stylise=False)
tr.save_report_canonical(reports=tr.REPORT_DICTIONARY, report_canonical=dictionary)

The following example renames the file, gives it a specific file type and adds on a time stamp to identify place and time.

In [18]:
reports = [tr.report2dict(report=tr.REPORT_DICTIONARY, prefix='report_titanic_', file_type='csv', stamped='days')]
tr.save_report_canonical(reports=reports, report_canonical=dictionary)