<cite>Darryl Oatridge, August 2022<cite>

## Building a Pipeline
Now we know what a component looks like we can start to build the pipeline adding in actions or intent that gives the component purpose.  

The first component we will build as part of the pipeline is the data selection component with the class name  Transition.  This component provides a set of Intent that focuses on tidying raw data by removing data columns that are not useful to the final feature set.  These may include null columns, single value columns, duplicate columns and noise etc.  We can also ensure the data is properly canonicalised through enforcing data typing.

Before we do that, and as shown in the previous section, we now use the environment variables to define the location of the Domain Contract and datastore.

In [1]:
import os

In [2]:
os.environ['HADRON_PM_PATH'] = '0_hello_meta/demo/contracts'
os.environ['HADRON_DEFAULT_PATH'] = '0_hello_meta/demo/data'

For the feature selection we are using the Transition component with the ability to select the correct columns from raw data, potentially reducing the column count.  In addition the Transistioning component extends the common reporting tools and provides additional functionality for identifying quality, quantity, veracity and availability.

It should be worth noting we are creating a new component and as such must set up the input and the output of the component.

In [3]:
from ds_discovery import Transition

In [4]:
# get the instance
tr = Transition.from_env('hello_tr', has_contract=False)

In [5]:
tr.set_source_uri('https://www.openml.org/data/get_csv/16826755/phpMYEkMl.csv')
tr.set_persist()

### Adding Intent
At the core of a component is its tasks, in other words how it changes incoming data into a different data outcome. To achieve this we use the components Intent.  Intent is a finate set of methods, unique to each component, that can be applied to the raw data in order to change it in a way that is useful to the outcome of the task. The intent is used individually and selectively to ensure that each outcome is tailored to its specific needs.

Firstly load the raw data.

In [6]:
df = tr.load_source_canonical()

In the first instance through the reporting we observed that empty cells have been replaced by a `?`.  Here we can use our `auto_reinstate_nulls` to replace all the obfusacted cells with nulls.  In addition we can immediately observe columns that are inappropriate for our needs.  In this case we do not need to know the name of the traveller.

In [7]:
# returns obfusacted nulls
df = tr.tools.auto_reinstate_nulls(df, nulls_list=['?'])
# removes data columns of no interest
df = tr.tools.to_remove(df, headers=['name'])

By now using the Intent Report we can see the selection made to this point.

In [8]:
tr.report_intent()

We can now run the pipeline and use the canonical report to observe the outcome.  From it we can see the nulls column now indicates the number of nulls in each column correctly so we can deal with them later.  We have also removed `name`.

In [9]:
tr.run_component_pipeline()
tr.canonical_report(tr.load_persist_canonical())

Now we have seen the changes let's add some more Intent.  In this case, as well as `name` we notice we don't need `boat` `body` and `home.dest` so we add these to the list.  In addition we will auto catagorise any obvious columns in the data and then ensure the numeric values are of the correct type.

In [10]:
df = tr.tools.to_remove(df, headers=['name', 'boat', 'body', 'home.dest'])
df = tr.tools.auto_to_category(df, unique_max=20)
df = tr.tools.to_numeric_type(df, headers=['age', 'fare'])

Using the Intent reporting tool to check the work and see what the Intent currently looks like all together.

In [11]:
tr.report_intent()

As we can see adding the components Intent is a process of looking at the raw data and making decisions on the selection of the features of interest.  From here we would run the pipeline and use the canonical reporting and other tools to check the results then keep iterating until we have what we need.

----------------

## Ordering Intent

With the component Intent now defined the run pipeline does its best to guess the best order of that Intent but sometimes we want to ensure things run in a certain order due to dependancies or other challenges.  Though not necessary, we will clear the previous Intent and write it again, this time in order.

In [12]:
tr.remove_intent()

True

In [13]:
tr.report_intent()

This time when we add the Intent we include the parameter `intent_level` to indicate the different order or level of execution.  

We load the source canonical and repeat the Intent, this time including the new intent level.

In [14]:
df = tr.load_source_canonical()

In [15]:
df = tr.tools.auto_reinstate_nulls(df, nulls_list=['?'], intent_level='reinstate')
df = tr.tools.to_remove(df, headers=['name', 'boat', 'body', 'home.dest'], intent_level='remove')
df = tr.tools.auto_to_category(df, unique_max=20, intent_level='auto_category')
df = tr.tools.to_numeric_type(df, headers=['age', 'fare'], intent_level='to_dtype')
df = tr.tools.to_str_type(df, headers=['cabin', 'ticket'],use_string_type=True , intent_level='to_dtype')

In addition, and as an introduction to a new feature, we will add in the column description that describes the reasoning behind why an Intent was added.

In [16]:
tr.add_column_description('reinstate', description="reinstate nulls that where obfuscated with '?'")
tr.add_column_description('remove', description="remove column of no value")
tr.add_column_description('auto_category', description="auto fit features to categories where their uniqueness is 20 or less")
tr.add_column_description('to_dtype', description="ensure all other columns of interest are appropriately typed")

Using the report we can see the addition of the numbers, in the level column, which helps the run component run the tasks in the order given.  It is worth noting that the tasks can be given the same level if the order is not important and the run component will deal with it using its ordering algorithm.

In [17]:
tr.report_intent()

As we have taken the time to capture the reasoning to include the compoment Intent we can use the reports to produce a view of the Intent column comments that are invaluable when interrogating a component and understanding why decisions were made.

In [18]:
tr.report_column_catalog()

## Component Pipeline

As usual we can now run the Compant pipeline to apply the components tasks.

In [19]:
tr.run_component_pipeline()

As an extension of the default, `run_component_pipeline` provides useful tools to help manage the outcome.  In this case we've specificially defined the Intent order we wanted to run.

In [20]:
tr.run_component_pipeline(intent_levels=['remove', 'reinstate', 'auto_category', 'to_dtype'])

----------------------
## Run Books
We've seen how run pipeline allows us to define the intent in real time, but we can also use 'Run Books' to predefine that same order and reuse it. We simply add our list of Intent to a book in the order needed. In this case we have not specified a book name so this book is allocated to the primary Run Book. Now each time we run our pipeline, it is set to run the primary Run Book.

In [21]:
tr.add_run_book(run_levels=['remove', 'reinstate', 'auto_category', 'to_dtype'])

Here we had a book by name where we select only the intent that cleans the raw data. The Run book report Now what are shows us the two run books;

In [22]:
tr.add_run_book(book_name='cleaner', run_levels=['remove', 'reinstate'])

In [23]:
tr.report_run_book()

In this next example we add an additional Run Book that is a subset of the tasks to only clean the data.  By passing this named Run Book to the run pipeline it is obliged to only run this subset and only clean the data.  We can see the results of this in our canonical report below.

In [24]:
tr.run_component_pipeline(run_book='cleaner')

In [25]:
tr.canonical_report(tr.load_persist_canonical())

As a contrast to the above we can run the pipeline without providing a Run Book name and it will automatically default to the primary run book, assuming this has been set up.  In this case running the full component Intent the resulting outcome is shown below in the canonical report.

In [26]:
tr.run_component_pipeline()

In [27]:
tr.canonical_report(tr.load_persist_canonical())